@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}


#particles-js{
  position:absolute;
  width: 100%;
  height: 48%;
}
.img-home{
z-index: 1;
}

 #map { 
  width: 100%;
  height: 100%;
  border-radius: 10px;
}